@media (max-width: 767.98px){
  .key{
    grid-column: span 1;
    height: 35px;
  }
  .key__shell{
    padding: 0;
    border: none;
    border-radius: 3px;
  }
  .key__shell_media_span2{
    grid-column: span 2;
  }
  .key__desc{
    font-size: 14px;
  }

  .key__desc_type_spec{
    letter-spacing: -0.08rem;
    line-height: 35px;
  }
  .key__desc_type_letter-main, .key__desc_type_punct-main{
    font-size: 18px;
    text-align: center;
    line-height: 35px;
  }
  .key__desc_type_letter-alt, .key__desc_type_punct-alt{
    display: none;
  }
  /* hover, focus and active */
  .key__shell{
    box-shadow: 0 2px 2px rgba(19, 32, 27, 0.8)
  }
  .key__shell:active, .key__shell_active{
    transform: translateY(1px);
    box-shadow: 0 2px 2px rgba(19, 32, 27, 0.8);
  }
}
@media (max-width: 574.98px) {
  .key{
    height: 30px;
  }
  .key__shell{
    border: solid 1px #344747;
    border-radius: 0;
  }
  .key__desc{
    font-size: 11px;
  }

  .key__desc_type_spec{
    letter-spacing: -0.08rem;
    line-height: 30px;
  }
  .key__desc_type_letter-main, .key__desc_type_punct-main{
    font-size: 16px;
    line-height: 30px;
  }
  /* hover, focus and active */
  .key__shell{
    box-shadow: none;
  }
  .key__shell:active, .key__shell_active{
    transform: none;
    box-shadow: none;
  }
}