@media (max-width: 767.98px) {
  .textarea{
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    line-height: 110%;
  }
}
@media (max-width: 574.98px) {
  .textarea{
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    line-height: 120%;
  }
}