.wrap{
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  margin: 0 auto;
}
.wrap__title{

}
.wrap__p{
  margin: 0.3em;
}
.wrap__textarea, .wrap__keyboard{
  width: 100%;
}